<div class="navbar-footer page-footer">
  <div class="navbar-footer">

    {{#link-to 'home' tagName='div' class='navbar-footer-button navbar-footer-button-teach'}}
      Home
    {{/link-to}}

    {{#link-to 'home' tagName='div' class='navbar-footer-button navbar-footer-button-learn'}}
      Search
    {{/link-to}}

    {{#link-to 'home' tagName='div' class='navbar-footer-button navbar-footer-button-log'}}
      Add
    {{/link-to}}

    {{#link-to 'home' tagName='div' class='navbar-footer-button navbar-footer-button-more'}}
      Notification
    {{/link-to}}

    {{#link-to 'home' tagName='div' class='navbar-footer-button navbar-footer-button-more'}}
      My Oslr
    {{/link-to}}

  </div>
</div>
