<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <div class="input-group stylish-input-group">
      {{input value=value class='form-control' placeholder='Search by tearch\'s name, session name or date'}}
      <button type="submit" class="btn">
          Search
      </button>
    </div>

  </div>
</div>
