<nav class="nav nav-justified">
  {{#link-to 'app.home.teach' class='nav-item nav-link'}}Teach{{/link-to}}
  {{#link-to 'app.home.learn' class='nav-item nav-link'}}Learn{{/link-to}}
  {{#link-to 'app.home.resources' class='nav-item nav-link'}}Resources{{/link-to}}
</nav>
