<div class="header">
  <nav class="nav nav-justified">
    {{#link-to 'app.search.people' class='nav-item nav-link'}}People{{/link-to}}
    {{#link-to 'app.search.resources' class='nav-item nav-link'}}Resources{{/link-to}}
  </nav>
</div>

{{outlet}}

{{app-footer}}
