<div class="footer">
    <nav class="nav nav-justified ">
      {{#link-to 'app.home.teach' tagName='div' class="footer-icon nav-item"}}
        <img src="Images/home-active.png"  class="home-icon-footer">
        <a class=" nav-link" href="#">Home</a>
      {{/link-to}}
      {{#link-to 'app.search.people' tagName='div' class="footer-icon nav-item"}}
        <img src="Images/footer-search.png"  class="search-icon-footer">
        <a class="nav-link" href="#">Search</a>
      {{/link-to}}
      {{#link-to 'app.add' tagName='div' class="footer-icon nav-item"}}
        <img src="Images/footer-add.png" class="add-icon-footer">
        <a class="nav-link" href="#">Add</a>
      {{/link-to}}
      {{#link-to 'app.alerts.activity' tagName='div' class="footer-icon nav-item"}}
        <img src="Images/footer-alert.png" class="alerts-icon-footer">
        <a class="nav-link" href="#">Alerts</a>
      {{/link-to}}
      {{#link-to 'app.myoslr' tagName='div' class="footer-icon nav-item"}}
        <img src="Images/footer-myoslr.png" class="myoslr-icon-footer">
        <a class="nav-link" href="#">My Oslr</a>
      {{/link-to}}
    </nav>
</div>
